[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
numpy = "*"
flask-sqlalchemy = "*"
flask-praetorian = "*"
flask-cors = "*"
yfinance = "*"
pandas_datareader = "*"
flask-caching = "*"
scipy = '*'

[dev-packages]

[requires]
python_version = "3.8"
